.container-cover {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.container-cover > h1 {
  color: white;
  font-size: 100px;
  font-family: 'Rock Salt', cursive;
  text-shadow: -1px 4px 6px #abaaaa;
}
.container-cover > p {
  color: #ffaa95;
  font-size: 32px;
  font-family: 'Kaushan Script', cursive;
}
.scroll {
  width: 100vw;
  justify-content: center;
  display: flex;
}
.scroll-icon {
  transform: rotate(90deg);
  width: 40px;
  position: absolute;
  bottom: 20px;
  border-radius: 9999px;
}

@media only screen and (max-width: 960px) {
  .container-cover > h1 {
    font-size: 70px;
    text-align: center;
  }
  .container-cover > p {
    text-align: center;
    font-size: 22px;
    width: 85%;
  }
}
