:root {
  --shadow-color: 16deg 36% 49%;
  --shadow-elevation-low: -0.7px 0.4px 1px hsl(var(--shadow-color) / 0.37),
    -3.2px 1.9px 4.8px -1.4px hsl(var(--shadow-color) / 0.64);
  --shadow-elevation-medium: -0.7px 0.4px 1px hsl(var(--shadow-color) / 0.35),
    -4.7px 2.8px 7px -0.7px hsl(var(--shadow-color) / 0.51),
    -16.1px 9.7px 24.1px -1.4px hsl(var(--shadow-color) / 0.68);
  --shadow-elevation-high: -0.7px 0.4px 1px hsl(var(--shadow-color) / 0.38),
    -10.9px 6.6px 16.3px -0.4px hsl(var(--shadow-color) / 0.5),
    -23.4px 14.2px 35.1px -0.7px hsl(var(--shadow-color) / 0.61),
    -46.7px 28.2px 70px -1.1px hsl(var(--shadow-color) / 0.72),
    -88.8px 53.6px 133px -1.4px hsl(var(--shadow-color) / 0.83);
}

.container-about {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  background-color: #e2e2e2;
  color: rgb(66, 66, 66);
  justify-content: center;
  align-items: center;
}

.fotoPerfil {
  width: 35vw;
  display: flex;
  justify-content: center;
}
.fotoPerfil > img {
  width: 15vw;
  border-radius: 20px 20px 20px 20px;
  box-shadow: var(--shadow-elevation-medium);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  padding-right: 100px;
  text-align: left;
}
.description > h3 {
  margin-bottom: 30px;
  font-size: 28px;
  font-family: 'Shantell Sans', cursive;
  font-weight: 500;
}
.description p {
  line-height: 1.3;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  color: rgb(66, 66, 66);
}
.span-circle {
  line-height: 1.3;
  font-size: 1.5rem;
  font-family: 'Shantell Sans', cursive;
  font-weight: 300;
  color: rgb(66, 66, 66);
}
@media screen and (max-width: 960px) {
  .container-about {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .description {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px 40px 60px;
    hyphens: auto;
  }
  .description > h3 {
    display: none;
  }
  .fotoPerfil {
    width: 25vw;
    text-align: center;
    padding-top: 2rem;
  }
  .fotoPerfil > img {
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -3px 3px 3px 2px #f5522e;
  }
}
@media screen and (max-width: 390px) {
  .description {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px 40px 40px;
    hyphens: auto;
  }
  .description > p {
    width: 90%;
    margin: 0 auto;
    hyphens: auto;
  }
}
