.container-skills {
  margin-bottom: 100vh;
  background-color: white;
  height: 75vh;
  padding-top: 2rem;
}
.container-skills>h1 {
  padding-bottom: 2rem;
  margin-left: 2rem;
  color: #413F42;
  text-shadow: -1px 1px 3px #E14D2A;
}
.skills {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  width: 90vw;

}
li {
  list-style: none;
  font-weight: bold;
  margin: 10px;
  transition: all 0.2s;
  

}
.skills > li > img {
  width: 40px;
  margin-right: 10px;
  border-radius: 20px;
  vertical-align: -webkit-baseline-middle;
  margin-bottom: 20px;

}
.skills>li:hover{
    box-shadow: -2px 3px 0px 2px #f966669a;
    border-radius: 20px;
    transition: all 0.3s;
}
@media screen and (max-width: 960px) {
  .container-skills>h1{
    text-align: center;
    padding-top: 1rem;
  }
  .container-skills{
    display: grid;
    text-align: center;
  }
  .skills {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    width: 100vw;
  
  }
}
